@model Category

<form method="POST">
    <div class="bordered p-3 mt-4">
        <div class="row pb-2">
            <h3 class="text-primary">Delete Category</h3>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-warning"></div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" disabled="disabled">
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" class="form-control" disabled="disabled">
    </div>
    <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

